<!DOCTYPE html>
<html lang="en">

<footer th:fragment="footer">
<div class="footer-wrapper">

    <div class="footer">
        <!-- Left Section -->


        <!-- Right Section -->

        <div class="first-section">
            <h1>Аптека</h1>
            <ul class="links">
                <li><a href="#">Общи условия</a></li>
                <li><a href="#">За нас</a></li>
                <li><a href="#">Условия за доставка</a></li>
            </ul>
            <!--        <div class="footer-bottom">-->
            <!--          <p>Всички права запазени</p>-->
            <!--        </div>-->
        </div>

        <div style="border-left: 1px solid #6a1b9a; height: 100px; margin: 0 5px -20px;"></div>

        <div class="right-section">
            <h1>Контакти</h1>
            <ul class="links">
                <li><a href="#"><i class="fas fa-map-marker-alt"></i> Намери най-близката аптека</a></li>
                <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> Email</a></li>
            </ul>
        </div>
    </div>

    <!-- Logo Section -->
    <div class="logo-container">
        <div class="logo">
            <img src="/images/company-logo2.png" alt="Company Logo">
        </div>
        <div class="logo1">
            <img src="/images/company-text-logo.png" alt="Company Name">
        </div>

    </div>
</div>
</footer>