body{
    background-color: #F4F3FA
;
}


.step {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid limegreen;
    background-color: transparent;
    color: limegreen;
    font-weight: normal;
}
.step.active {
    font-weight: bold;
    background-color: transparent;
    border: 3px solid mediumpurple;
    color: #007bff;
}
.product-review img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.product-name{
    font-weight: bold;
}

.col-md-8 h3 {
    color: #6a1b9a;
    font-size: xx-large;
    padding-bottom: 30px;
}
.divider {
    border: none;
    border-bottom: 1px solid #6a1b9a;
    margin: 10px 0;
}

.form-select{
    width: 85%;
    border: 2px solid darkgreen;
}

.form-select:focus{
    border: 2px solid #d86eff;
    outline: none;
    box-shadow: 0 0 15px rgba(28, 113, 48, 0.8);
}

textarea.form-control{
    width: 93%;
}

textarea.form-control:focus{
    border: 2px solid #d86eff;
    outline: none;
    box-shadow: 0 0 15px rgba(28, 113, 48, 0.8);
}

.apply-btn{
    margin-left: 34%;
    padding: 10px 80px;
    background-color: #28a745;
    border: none;
}

.apply-btn:hover{
    background-color: green;
}

.pay-method-title{
    color: #6a1b9a;
    font-weight: bold;
}

h3{
    color: #6a1b9a;
}
.right-section .count{
    background-color: #E5FFDA;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 15px;
    font-size: small;
    color: darkgreen;
}

.right-section p{
    font-size: 18px;
}

.product-review p,small{
    color: #6a1b9a;
    font-size: medium;
}
.product-review .num{
    color: #28a745;
    font-size: large;
}

