<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/main-header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

</head>

<body>
<!-- Main Header -->
<!--<header th:replace="fragments/header :: main-header"></header>-->

<header th:fragment="main-header" class="main-header">
    <div class="container d-flex justify-content-between align-items-center py-3">
        <div class="search-bar d-flex align-items-center">
            <input type="text" placeholder="Search..." class="form-control">
            <i class="bi bi-search search-icon"></i>

            <a href="/promotions" class="nav-item promotions-link">
                <img th:src="@{/images/discount-icon.png}" alt="Promotions">
                <span>Промоции</span>
            </a>

        </div>

        <a th:href="@{/}" class="logo">
            <img th:src="@{/images/company-logo2.png}" alt="Company Logo">
        </a>

        <nav class="nav-links d-flex align-items-center">

            <!-- Линк към профила (само ако е логнат) -->

            <img src="/images/user-icon1.png" alt="Logout">
            <div>
                <a sec:authorize="isAuthenticated()" th:href="@{/user-profile/management}" class="nav-item login-link" id="profile-text">Профил</a>
                <a sec:authorize="isAuthenticated()" href="#" class="nav-item login-link" onclick="document.getElementById('logoutForm').submit(); return false;">
                    <span id="logout-text">Изход</span>
                </a>
                <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="nav-item login-link">
                    <!--                    <img src="/images/user-icon1.png" alt="Login">-->
                    <span>Вход Регистрация</span>
                </a>
            </div>

            <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
                <input type="hidden">
            </form>



            <a href="/user-profile/favoriteProducts" class="nav-item favorites-link">
                <img src="/images/favorite-icon.png" alt="Favorites">
                <span class="badge bg-success"
                      sec:authorize="isAuthenticated()"
                      th:text="${baseUserInfoDTO.favoriteProductsCount()}">0</span>
                <span class="badge bg-success"
                      sec:authorize="!isAuthenticated()">0</span>
            </a>

            <a th:href="@{/user/cart}" class="nav-item cart-link">
                <img src="/images/cart-icon.png" alt="Cart">
                <span class="badge bg-succes"
                      sec:authorize="isAuthenticated()"
                      th:text="${baseUserInfoDTO.cartProductsCount()}">0</span>
                <span class="badge bg-success"
                      sec:authorize="!isAuthenticated()">0</span>
            </a>
        </nav>
    </div>
</header>

<!-- Sub-header -->
<header th:replace="fragments/header :: sub-header"></header>

<!-- Categories Header -->
<nav th:replace="fragments/header :: category-header"></nav>


<div class="cart-container">
    <h1 class="cart-title">Вашата количка</h1>

    <div class="cart-content">
        <!-- Лява секция: Таблица с продуктите -->


        <div class="cart-table">
            <p th:if="${userCartDTO.productsDTO.isEmpty()}">Все още нямате продукти в количката</p>

            <div th:unless="${userCartDTO.productsDTO.isEmpty()}" class="cart-header">
                <span>Име</span>
                <span>Ед. цена</span>
                <span>Брой</span>
                <span>Сума</span>
            </div>
            <hr class="divider">
            <div th:each="cartItem : *{userCartDTO.productsDTO}" class="cart-item"
                 th:data-id="${cartItem.productId}"
                 th:data-name="${cartItem.name}"
                 th:data-price="${cartItem.promotion != null ? #numbers.formatDecimal(cartItem.price * (1 - cartItem.promotion.discountPercentage / 100),1,2) : cartItem.price}"
                 th:data-image="${cartItem.image}">

                <a th:href="@{/product/details/{id}(id=${cartItem.productId})}" class="product-card-link">
                    <img th:src="@{${cartItem.image}}" alt="Product Image">

                    <div class="item-details">
                    <p th:text="${cartItem.name}" class="item-name">Продукт</p>
                </div>
                </a>

                <p th:if="${cartItem.promotion != nul}" class="item-price">
                    <span class="old-price" th:text="${cartItem.price}">Цена лв.</span><br>
                    <span class="new-price" th:text="${#numbers.formatDecimal(cartItem.price * (1 - cartItem.promotion.discountPercentage / 100),1,2)}">Цена лв.</span>
                </p>
                <p th:if="${cartItem.promotion == null}" class="item-price">
                    <span class="new-price" th:text="${cartItem.price} + 'лв.'">Цена лв.</span><br>
                </p>

                <div class="item-quantity-control">
                    <button class="quantity-btn minus-btn">-</button>
                    <input
                            class="item-quantity readonly"
                            name="quantities"
                            th:value="${cartItem.quantity}"
                            min="1">
                    <button class="quantity-btn plus-btn">+</button>
                </div>

                <p class="item-sum"
                   th:text="${cartItem.quantity} * (${cartItem.promotion != null
                                                        ? #numbers.formatDecimal(cartItem.price * (1 - cartItem.promotion.discountPercentage / 100),1,2)
                                                        : cartItem.price}) + ' лв.'">
                    Обща цена лв.</p>

                <form th:action="@{/user/cart/product-remove/{id}(id=${cartItem.productId})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit" class="remove-item-btn bi-trash3"></button>
                </form>

                <hr class="divider">
            </div>

            <button class="continue-shopping-btn" onclick="window.location.href='/'">Продължи с пазаруването</button>
        </div>

        <!-- Дясна секция: Преглед -->
        <div class="cart-summary">
            <h2>Преглед</h2>
            <hr class="divider">
            <div class="free-delivery">
                <img src="/images/promo-icon.png" alt="Promo Icon">
                <p class="free-msg" >
                    Добави продукти за още
                    <span th:text="${#numbers.formatDecimal(userCartDTO.balanceToFreeShipping - userCartDTO.totalPrice,1,2)} + ' лв.'">цена лв.</span>
                    и вземи безплатна доставка
                </p>
                <p class="free-msg-achieved" >
                    Вие достигнахте сумата от
                    <span th:text="${userCartDTO.balanceToFreeShipping} + ' лв.'">сума лв.</span>
                    и получавате безплатна доставка!
                </p>
            </div>
            <hr class="divider">
            <div class="summary-details" >

                <p class="subtotal" th:if="${userCartDTO.totalPrice <= userCartDTO.balanceToFreeShipping}">
                    Междинна сума:
                    <span th:text="${userCartDTO.totalPrice} + ' лв.'"> Обща сума лв.</span>
                </p>
                <p class="delivery" th:if="${userCartDTO.totalPrice <= userCartDTO.balanceToFreeShipping}">
                    Доставка:
                    <span>5.00 лв.</span>
                </p>
                <hr class="divider">
                <div class="total-sum">
                <p>
                    Обща сума:
                    <span th:text="${userCartDTO.totalPrice + (userCartDTO.totalPrice < userCartDTO.balanceToFreeShipping ? 5.00 : 0)} + ' лв.'">сума лв.</span>
                </p>
                </div>
                <hr class="divider">
                <div class="saved-money">
                <p>Спестяваш:
                    <span th:text="${userCartDTO.savedMoney + (userCartDTO.totalPrice < userCartDTO.balanceToFreeShipping ? 0 : 5.00)} + ' лв.' ">Спестена сума лв.</span>
                </p>
                </div>
                <p class="vat-note">*Всички цени са с включено ДДС</p>
            </div>
            <form id="checkout-form" th:action="@{/user/cart}" method="POST">
                <input type="hidden" name="cartData" id="cart-data">
            <button class="checkout-btn" id="checkout-btn" type="button">Към завършване</button>
            </form>
        </div>
    </div>

    <!-- Купи още секция -->
    <h2 class="recommend-title">Купи още</h2>
    <div class="carousel-container">
        <button class="carousel-arrow left-arrow">←</button>
        <div class="carousel">


            <div class="product-card">
                <a href="/product-details" class="product-card-link">
                <div class="discount">-15%</div>
                <img src="/images/products/doppelherz-imuno-kids.png" alt="Product 2">
                <div class="product-name">Product Name 2</div>
                <div class="prices">
                    <span class="old-price">70.00лв</span>
                    <span class="new-price">59.50лв</span>
                </div>
                <div class="buttons">
                    <button class="order">
                        <i class="bi bi-cart"></i> Поръчай
                    </button>
                    <button class="wishlist">
                        <i class="bi bi-heart"></i>
                    </button>
                </div>
                </a>
            </div>


            <div class="product-card">
                <a href="/product-details" class="product-card-link">
                    <div class="discount">-15%</div>
                    <img src="/images/products/doppelherz-imuno-kids.png" alt="Product 2">
                    <div class="product-name">Product Name 2</div>
                    <div class="prices">
                        <span class="old-price">70.00лв</span>
                        <span class="new-price">59.50лв</span>
                    </div>
                    <div class="buttons">
                        <button class="order">
                            <i class="bi bi-cart"></i> Поръчай
                        </button>
                        <button class="wishlist">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                </a>
            </div>

            <div class="product-card">
                <a href="/product-details" class="product-card-link">
                    <div class="discount">-15%</div>
                    <img src="/images/products/doppelherz-imuno-kids.png" alt="Product 2">
                    <div class="product-name">Product Name 2</div>
                    <div class="prices">
                        <span class="old-price">70.00лв</span>
                        <span class="new-price">59.50лв</span>
                    </div>
                    <div class="buttons">
                        <button class="order">
                            <i class="bi bi-cart"></i> Поръчай
                        </button>
                        <button class="wishlist">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                </a>
            </div>

            <div class="product-card">
                <a href="/product-details" class="product-card-link">
                    <div class="discount">-15%</div>
                    <img src="/images/products/doppelherz-imuno-kids.png" alt="Product 2">
                    <div class="product-name">Product Name 2</div>
                    <div class="prices">
                        <span class="old-price">70.00лв</span>
                        <span class="new-price">59.50лв</span>
                    </div>
                    <div class="buttons">
                        <button class="order">
                            <i class="bi bi-cart"></i> Поръчай
                        </button>
                        <button class="wishlist">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                </a>
            </div>

            <div class="product-card">
                <a href="/product-details" class="product-card-link">
                    <div class="discount">-15%</div>
                    <img src="/images/products/doppelherz-imuno-kids.png" alt="Product 2">
                    <div class="product-name">Product Name 2</div>
                    <div class="prices">
                        <span class="old-price">70.00лв</span>
                        <span class="new-price">59.50лв</span>
                    </div>
                    <div class="buttons">
                        <button class="order">
                            <i class="bi bi-cart"></i> Поръчай
                        </button>
                        <button class="wishlist">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                </a>
            </div>

            <div class="product-card">Продукт 3</div>
            <div class="product-card">Продукт 4</div>
        </div>
        <button class="carousel-arrow right-arrow">→</button>
    </div>
</div>

<footer>



    <div class="footer-wrapper">

        <div class="footer">
            <!-- Left Section -->


            <!-- Right Section -->

            <div class="first-section">
                <h1>Аптека</h1>
                <ul class="links">
                    <li><a href="#">Общи условия</a></li>
                    <li><a href="#">За нас</a></li>
                    <li><a href="#">Условия за доставка</a></li>
                </ul>
                <!--        <div class="footer-bottom">-->
                <!--          <p>Всички права запазени</p>-->
                <!--        </div>-->
            </div>

            <div style="border-left: 1px solid #6a1b9a; height: 100px; margin: 0 5px -20px;"></div>

            <div class="right-section">
                <h1>Контакти</h1>
                <ul class="links">
                    <li><a href="#"><i class="fas fa-map-marker-alt"></i> Намери най-близката аптека</a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i> Email</a></li>
                </ul>
            </div>
        </div>

        <!-- Logo Section -->
        <div class="logo-container">
            <div class="logo">
                <img src="/images/company-logo2.png" alt="Company Logo">
            </div>
            <div class="logo1">
                <img src="/images/company-text-logo.png" alt="Company Name">
            </div>

        </div>
    </div>
</footer>

<script th:src="@{/js/user-cart.js}"></script>

</body>
</html>